/* Header Section */
header{
	background: #edeff1;
}

a.nav-link{
	font-size: 16px;
	margin: 0px 5px;
	border-radius: 25px;
}

a.nav-link:hover{
	font-color: white;
	cursor: pointer;
    background: #5C98BB;
}
a{
	color: orange;
}
a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

/* Banner Section */


/* News Section Start  */
.news{
	padding: 75px 0px;
	background: #edeff1;
}
.btn-news{
	background: #fff;
    color: orange;
    padding: 7px 25px;
    border-radius: 25px;
    margin-bottom: 25px;
}

/* Newsletter Section */
.newsletter{
	background: url(../img/news.jpg) no-repeat center;
	background-size: cover;
}
.newsletter-opacity{
	background: rgba(0,0,0,.5);
    padding: 100px 0px;
}
.newsletter h2{
	color: #fff;
}
.newsletter p{
	color: #fff;
}
.form-group{
	position: relative;
}
.btn-signup {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 6px 35px;
}
.newsletter .form-control{
	border-radius: 50px;
}

/* Gallery Section */
.gallery{
	padding: 75px 0px;
}



/* Footer Section CSS */
footer{
	background: #292a2b;
	padding: 20px 0px;
}
footer p{
    color: #fff;
}

footer a{
	color: #fde52c;
}
footer a:hover{
	color: #fde52c;
	text-decoration: none;
}
.footer-social-links{
	text-align: right;
}
.footer-social-links ul{
	padding: 0;
}
.footer-social-links ul li{
	list-style: none;
    display: inline;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}
.footer-social-links ul li .fa{
	color: #fff;
}
.footer-social-links ul li .fa:hover{
	color: #fde52c;
}